<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Training</h2>
        <p><span>Id:</span> <%= record._id %> </p>
        <p><span>Duration:</span> <%= record.duration %></p>
        <p><span>Type:</span> <%= record.type %></p>
        <p><span>Phase:</span> <%= record.phase %></p>
        <h4>Exercises</h4>
        <ul>
          <% record.exercises.forEach(exercise => { %>
            <li> <%= exercise %> </li>  
          <% }); %>
        </ul>
        <h4>Equipment</h4>
        <ul>
          <% record.equipment.forEach(equipment => { %>
            <li><%= equipment %></li>
          <% }) %>
        </ul>
  
</body>
</html>